<a href="https://colab.research.google.com/github/mitreilab/autonomousfuture/blob/master/1210reilAutomation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import OES Data

In [0]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as pp
!wget "https://www.dropbox.com/s/t4444pduqc7rtgs/recentyears.csv?dl=0" -q -O "recent.csv" 
!wget "https://www.dropbox.com/s/6gglwj5jedmfvhi/oldyears.csv?dl=0" -q -O "old.csv" 
#Download raw csv file from Dropbox and rename to "rawdatanaics.csv"
new = pd.read_csv("recent.csv",low_memory=False)
old=pd.read_csv("old.csv",low_memory=False)

## Import ONet Data ##

In [4]:
!wget "https://www.dropbox.com/s/5cjlzvxqtoq5mm4/combined.sqlite?dl=0" -q -O  "onet.sqlite"  
#Download raw SQLite file from Dropbox and rename to "onet.sqlite"
import sqlite3
onetConnection = sqlite3.connect('onet.sqlite')
cur = onetConnection.cursor()
query = "SELECT * FROM occupation_data";
occdata = pd.read_sql_query(query, onetConnection)
len(occdata)
# Onet surveyed 1109 occupations.

1109

In [0]:



import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as pp

#Download the CSV files that we need for Autor Method
!wget "https://www.dropbox.com/s/pnvz35bcthloy6n/Abilities.csv?dl=0" -q -O "Abilities.csv" 
Abilities=pd.read_csv("Abilities.csv",low_memory=False)
!wget "https://www.dropbox.com/s/5btim1otk24j05d/Skills.csv?dl=0" -q -O "Skills.csv" 
Skills=pd.read_csv("Skills.csv",low_memory=False)
!wget "https://www.dropbox.com/s/9ajd56nnhlrfo2m/Task%20Statements.csv?dl=0" -q -O "Task Statements.csv" 
Tasks = pd.read_csv("Task Statements.csv",low_memory=False)
!wget "https://www.dropbox.com/s/9ez75cfcojjpyur/Work%20Activities.csv?dl=0" -q -O "Work Activities.csv" 
Activities = pd.read_csv("Work Activities.csv",low_memory=False)

## OES Data cleaning- build OEL database

###Link old occ code with occ code after 2010

In [0]:
!wget "https://www.dropbox.com/s/30fryvdkh5qnk1z/crosswalktable.csv?dl=0" -q -O "crosswalk.csv" 
match=pd.read_csv("crosswalk.csv",low_memory=False)

In [0]:
!wget "https://www.dropbox.com/s/mzly495b0ns41wi/oes_nat4d_2007-2016.csv?dl=0" -q -O "oes_nat4d_2007-2016.csv" 
allOLS=pd.read_csv("oes_nat4d_2007-2016.csv",low_memory=False)
allOLS['year'] = allOLS['year'].astype(str)
old=allOLS.loc[allOLS['year'].str.startswith(('2007','2008','2009'))]
new = allOLS.loc[allOLS['year'].str.startswith(('2010','2011','2012','2013','2014','2015','2016'))]

In [143]:
allOLS['year'].unique()

array(['2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016'], dtype=object)

In [145]:
# Build a dictionary for old code to be transformed into new
oldlist=match['2000 SOC code'].tolist()
newlist=match['2010 SOC code'].tolist()
keys = oldlist
values = newlist
matchbook= dict(zip(keys, values))
matchbook[113041]

113111

In [146]:
tobecorrect=old['occ_code'].tolist()
len(tobecorrect)

137096

In [0]:
for i in range(len(tobecorrect)):
  oldcode=tobecorrect[i]
  try:
    temp=matchbook[oldcode]
    tobecorrect[i]=temp
  except:
    continue
correctcode= tobecorrect

In [0]:

correctcode=pd.DataFrame(correctcode)

In [149]:
old['occ_code']=correctcode

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
old.reset_index(drop=True, inplace=True)
new.reset_index(drop=True, inplace=True)
result = pd.concat([old,new])

In [151]:
old.shape

(137096, 27)

In [152]:
new.shape

(537573, 27)

In [153]:
result.shape

(674669, 27)

In [0]:
result.reset_index(drop=True, inplace=True)

In [77]:

# There are 792  detailed ocupations in total in US

792

In [155]:
df=result
df.shape
# Now we finishe building the OLS dabatase

(674669, 27)

In [17]:
# # After we choose 13 industries (using 4_digit NAISC)
# # We have 528 detailed occupations
# targetlist=df['occ_code'].unique()
# len(targetlist)

528

In [0]:
df.head()

### Target the occupations that are 1. In Real Estate industry 2. Not General Group 3. Onet has surveyed

In [0]:
# !wget "https://www.dropbox.com/s/329edv8yrn3ik25/Occupation%20Data.csv?dl=0"-q -O  "Occupation Data.csv" 
# occ_onet=pd.read_csv("Occupation Data.csv",low_memory=False)
# #Download 'Occupation Data' CSV that changes the 8-digit Onet-code to 6-digit, ommiting the last two digits.
# del_occ_endwith_00_and_in_Onet=oes.loc[oes['occ_code'].isin(occ_onet['O*NET-SOC Code'])]
# #Delete the occupation if the code is not in 'Occupation Data'
# del_occ_endwith_00_and_in_Onet.shape

In [0]:
# target_occ=set(del_occ_endwith_00_and_in_Onet['occ_code'])
# target_occ=list(target_occ)
# target=pd.DataFrame({'target_occ': target_occ})
# len(target)
# # we target 558 occupations.

### Drop the columns in the oes.csv that contains duplicated or redundant data.

In [0]:
# del_occ_endwith_00_and_in_Onet.columns
# #drop the colomuns that contain duplicate information
# del_duplicated_column=del_occ_endwith_00_and_in_Onet.drop(['title_code','occ_title_code', 'occ_title_mid', 'year.1', 'naics.1', 'naics_title.1', 'occ_code.1', 'occ_title.1', 'group', 'naics_codedescription', 'year-naics-occ_code', 'year-naics-occ_code.1','year.2', 'naics.2', 'naics_title.2', 'occ_code.2', 'title_code.1', 'dominant_lifecycle.1', 'occ_title.2', 'occ_title_code.1', 'occ_title_mid.1','group.1', 'naics_codedescription.1', 'keepsy'],axis=1)
# # the columns # decrease to 37 from 61
# del_duplicated_column.shape

## Call BLS data by 6-digit occupation code

In [0]:
# try to extract data by occ_code 
# dx = del_duplicated_column[del_duplicated_column['occ_code'] == '11-1011']
# dx[['year','naics_title', 'tot_emp_num']].head(3)

In [0]:
# assign the matrix of "year" and "naics_code" to a specific occ_code, call it 'labour_economy_data'
# first, create a function that generate the lb_econ_matrix for an occ_code
def lb_econ (occ_code,field,data):
    # this function yield a data frame for a given occ_code and a field
    # get all unique naics titles in the data
    feature_list = data['naics'].unique()
    # get all unique year in the data
    years = sorted(data['year'].unique())    
    mt_result = pd.DataFrame(0.00, index = years, columns = feature_list)   
    # filter out all rows and columns that have the given occ_code and fields
    df_occ = data[data['occ_code'] == occ_code][['year','naics_title', field]]
    for index, row in df_occ.iterrows():
        try:
            mt_result.loc[row['year']][row['naics_title']] = float(row[field])
        except:
            mt_result.loc[row['year']][row['naics_title']] = np.nan
    return mt_result.round(2)

In [0]:
# An example of how to use the function
# data1=del_duplicated_column
# # the lb_Econ_features contains all the fields' name that we can choose from, there're 17 all together.
# lb_econ_features=['occ_code','tot_emp_num', 'emp_prse', 'pct_total', 'pct_rpt', 'h_mean', 'a_mean', 'mean_prse', 'h_pct10', 'h_pct25', 'h_median', 'h_pct75', 'h_pct90', 'a_pct10', 'a_pct25', 'a_median_num', 'a_pct75', 'a_pct90']
# #try to input a field name called 'tot_emp_num'
# aa=lb_econ (111011,'tot_emp_num',df)
# aa.head()

In [20]:
df.columns

Index(['year', 'naics', 'naics_title', 'occ_code', 'occ_title', 'group',
       'tot_emp_num', 'emp_prse', 'pct_total', 'pct_rpt', 'h_mean', 'a_mean',
       'mean_prse', 'h_pct10', 'h_pct25', 'h_median', 'h_pct75', 'h_pct90',
       'a_pct10', 'a_pct25', 'a_median_num', 'a_pct75', 'a_pct90',
       'naics_codedescription', 'occ_code-title', 'detailed'],
      dtype='object')

# Object Oriented Programming (OOP)

In [0]:
# laborfeature include:'tot_emp_num', 'emp_prse', 'pct_total', 'pct_rpt', 'h_mean', 'a_mean',
#        'mean_prse', 'h_pct10', 'h_pct25', 'h_median', 'h_pct75', 'h_pct90',
#        'a_pct10', 'a_pct25', 'a_median_num', 'a_pct75', 'a_pct90',
#        'naics_codedescription'
# year include: 2007 to 2016
# industry include:
# 'Residential Building Construction',
# 'Nonresidential Building Construction',
# 'Land Subdivision',
# 'Foundation, Structure, and Building Exterior Contractors',
# 'Building Equipment Contractors',
# 'Building Finishing Contractors',
# 'Other Specialty Trade Contractors',
# 'Lessors of Real Estate',
# 'Offices of Real Estate Agents and Brokers',
# 'Activities Related to Real Estate',
# 'Architectural, Engineering, and Related Services',
# 'Specialized Design Services',
# 'Services to Buildings and Dwellings',
      
class occ(object):
  # add attributes to occ
  def __init__(self,code,title,year,industry,industrycode,name,negotiation,math,GDM,finger,manual):
    self.code=code
    self.title=title
    self.year=year  
    self.industry=industry
    self.industrycode=industrycode
    self.name=name
    self.negotiation=negotiation
    self.math=math
    self.GDM=GDM
    self.finger=finger
    self.manual=manual

#     yearemp,
#               emp_prse, pct_total, pct_rpt, h_mean, a_mean,
#        mean_prse, h_pct10, h_pct25, h_median, h_pct75, h_pct90,
#        a_pct10, a_pct25, a_median_num, a_pct75, a_pct90,
#       naics_codedescription,tasks,abilities,knowledge,skills,work_activities
#     self.yearemp=yearemp
#     self.emp_prse=emp_prse
#     self.pct_total=pct_total
#     self.pct_rpt=pct_rpt
#     self.h_mean=h_mean
#     self.a_mean=a.mean
#     self.mean_prse=mean_prse
#     self.h_pct10=h_pct10
#     self.h_pct25=h_pct25
#     self.h_median=h_median
#     self.h_pct75=h_pct75
#     self.h_pct90=h_pct90
#     self.a_pct10=a_pct10
#     self.a_pct25=a_pct25
#     self.a_median_num=a_median_num
#     self.a_pct75=a_pct75
#     self.a_pct90=a_pct90
#     self.naics_codedescription=naics_codedescription
#     self.laborfeature=laborfeature
#     self.task=tasks
#     self.abilities=abilities
#     self.knowledge=knowledge
#     self.skills=skills
#     self.work_activities=work_activities
  def __str__(self):
    return str(self.code)+str(self.title)+str(self.year)+str(self.industry+str(self.industrycode))
#   def__add__(self,other):
#     result=self.yearemp+other.yearemp
#     return result
#   def__eq__(self,other):
    
  # define methods:
  # total employment calculate employment number of each occ in all 13 industries
  # inputs for this function should be the 13 occ objects
  # with same code,title,year
  # with different industry,industry code,13 industries in the same year
#   def sumemp(self,other):
#     if self.code==other.code and self.year==other.year:
#       return self.yearemp+other.yearemp

## make all the objects for Real Estate using 13 NAICS (528 times 10 years times 13 industries)

In [22]:
row=df.iloc[0]
type(row[['year','naics']])

pandas.core.series.Series

In [0]:
# a=occ(row['occ_code'],row['occ_title'],row['year'],row['naics_title'],row['naics'],'name1')
# b=occ(row2['occ_code'],row2['occ_title'],row2['year'],row2['naics_title'],row2['naics'],'name2')

In [0]:
# newlist.append(a.name)
# newlist

In [0]:
# there are at most 68640 occ objects in total
# now we create them out and name them by 'occ+their occ_code'
listofocc=[]
all_occ=[]
for index, row in df.iterrows():
  #create a new object
  name=str(row['occ_code'])+str(row['occ_title'])+'in year'+str(row['year'])+'in industry'+str(row['naics'])
  temp=occ(row['occ_code'],row['occ_title'],row['year'],row['naics_title'],row['naics'],name)
  listofocc.append(temp.name)
  all_occ.append(temp)

In [0]:
    # get all unique naics titles in the data
    feature_list = data['naics'].unique()
    # get all unique year in the data
    years = sorted(data['year'].unique())    
    mt_result = pd.DataFrame(0.00, index = years, columns = feature_list)   
    # filter out all rows and columns that have the given occ_code and fields
    df_occ = data[data['occ_code'] == occ_code][['year','naics_title', field]]
    for index, row in df_occ.iterrows():
        try:
            mt_result.loc[row['year']][row['naics_title']] = float(row[field])
        except:
            mt_result.loc[row['year']][row['naics_title']] = np.nan
    return mt_result.round(2)

In [0]:
# # Make a list for 2007, negotiation
# negotiationlist=[]
# for year in range(2007,2017):
#   tempsum=0
#   for occ in all_occ:
#     if occ.year==year:
#       employment=manual[occ]['tot_emp_num']
#       temp1=Skills.loc[Skills['SOC Code']==occ.code]  
#       negotiation_score=temp1.loc[temp1['Element ID']=='2.B.1.d']['Data Value']

In [0]:
occcode=111011
cutocc=cutyear.loc[cutyear['occ_code']==occcode]
employment=cutocc['tot_emp_num'].sum()
temp1=Skills.loc[Skills['SOC Code']==occcode]  
score_series=temp1.loc[temp1['Element ID']=='2.B.1.d']['Data Value']

In [0]:
float(score_series)

In [0]:
tempsum=0
cutyear=df.loc[df['year']==2007]
occcode=111011
cutocc=cutyear.loc[cutyear['occ_code']==occcode]
employment=cutocc['tot_emp_num'].sum()
temp1=Skills.loc[Skills['SOC Code']==occcode]  
score=float(temp1.loc[temp1['Element ID']=='2.B.1.d']['Data Value']
weightedscore=employment*score

In [0]:
type(weightedscore)

In [0]:
float(score)

4.62

In [0]:
len(negotiationlist)

10

In [0]:
negotiationlist

In [0]:
temp1=Skills.loc[Skills['SOC Code']==111011]

In [0]:
temp1.loc[temp1['Element ID']=='2.B.1.d']['Data Value']

13    4.62
Name: Data Value, dtype: float64

In [0]:
 Skills.loc[Skills['SOC Code']=='111011' and ['Element ID']=='2.B.1.d']

In [0]:
for occ in all_occ:
  temp=Skills[Skills['SOC Code']==occ.code and Skills['Element ID']=='2.B.1.d']
  occ.negotiation=

for index,row in Abilities.iterrows():

In [0]:
# the list containing all the objects names is named as listofocc
# the list containing all the objects is named as all_occ
len(listofocc)

21264

In [0]:
len(all_occ)

21264

In [0]:
all_occ[2].year

2007

In [0]:
listofocc

## Build the dictionary based on 13 NAISCS of Real Estate

In [0]:
# Build a dictionary where
#   -  keys: the occ object
# Values : all the labor econ attributes and The O_net attributes


keys = all_occ

values =[]
# # We first define some functions that we need to search values from Onet
# # The function to search for tasks for an occpation:
# def gettask(occ_code,Tasks):
#   for index, row in Tasks.iterrows():
#     temp=Tasks[Tasks['occ_code']==occ_code][['Task ID','Task']]
#     onetvalue=temp.values.tolist()
#   return onetvalue

for index, row in df.iterrows():
  #create a sublist to be one element of the values list
  temp=row[['occ_code','tot_emp_num', 'emp_prse', 'pct_total', 'pct_rpt', 'h_mean', 'a_mean', 'mean_prse', 'h_pct10', 'h_pct25', 'h_median', 'h_pct75', 'h_pct90', 'a_pct10', 'a_pct25', 'a_median_num', 'a_pct75', 'a_pct90']]

  
  values.append(temp)
  
manual= dict(zip(keys, values))

In [0]:
manual[all_occ[1]]['tot_emp_num']

IndexError: ignored

In [0]:
# # Then we have a tasklist for each occupation, but this method is slow
# # The function to search for tasks for an occpation:


# def gettask(occ_code,Tasks):
#   for index, row in Tasks.iterrows():
#     temp=Tasks[Tasks['occ_code']==occ_code][['Task ID','Task']]
#   return temp
# tasklist=gettask(111011,Tasks)

In [0]:
# tasklist[2]

[8825,
 'Analyze operations to evaluate performance of a company or its staff in meeting objectives or to determine areas of potential cost reduction, program improvement, or policy change.']

### 2 by 2 metrics to assess 13 NAISCS

In [0]:
# Among 13 NAISCS industries, we have 528 occupations, the list of occupations is named as targetlist
len(targetlist)

In [0]:
#   # built a occpationcode list to change 6digit to 8 digit and change the form
# onetform=[]
# for item in targetlist:
#   string=str(item)
#   temp=str(string[:1]) + '-' +str(string[2:])+'.00'
#   onetform.append(temp)
# onetform

#### Make a list for Non-routine cognitive- Interactive

In [0]:
# Make a list for 10 years, use 'negotiation score'in Skills, Element id is 2.B.1.d
negotiationlist=[]
totalemployment=[]
for year in range(2007,2017):
  tempsum=0
  denom=0
  cutyear=df.loc[df['year']==year]
  for occcode in targetlist:
    cutocc=cutyear.loc[cutyear['occ_code']==occcode]
    employment=cutocc['tot_emp_num'].sum()
    denom+=employment
    temp1=Skills.loc[Skills['SOC Code']==occcode]  
    score_series=temp1.loc[temp1['Element ID']=='2.B.1.d']['Data Value']
    try:
      score=float(score_series)
    except:
      continue      
    weightedscore=int(employment*score)
    tempsum+=weightedscore
  valueofyear=tempsum/denom
  negotiationlist.append(valueofyear)
  totalemployment.append(denom)
#

#### Change' Negotiation' to 4.A.2.b.6-Organizing, Planning, and Prioritizing Work, Non-Routine Cognitive

In [0]:
# Make a list for 10 years,use 'Organizing, Planning, and Prioritizing Work' in Work Activities, Element id is 4.A.2.b.6
OPPlist=[]
totalemployment=[]
for year in range(2007,2017):
  tempsum=0
  denom=0
  cutyear=df.loc[df['year']==year]
  for occcode in targetlist:
    cutocc=cutyear.loc[cutyear['occ_code']==occcode]
    employment=cutocc['tot_emp_num'].sum()
    denom+=employment
    temp1=Activities.loc[Activities['occ_code']==occcode]  
    score_series=temp1.loc[temp1['Element ID']=='4.A.2.b.6']['Data Value']
    try:
      score=float(score_series)
    except:
      continue      
    weightedscore=int(employment*score)
    tempsum+=weightedscore
  OPPlist.append(tempsum)
  totalemployment.append(denom)

In [38]:
totalemployment

[11420590.0,
 11196570.0,
 10161260.0,
 9177840.0,
 9087980.0,
 9241660.0,
 9500890.0,
 9914140.0,
 10302570.0,
 10656980.0]

In [41]:
OPPlist

[35584424,
 34956287,
 31859339,
 29002715,
 28870088,
 29410686,
 30163494,
 31378010,
 32568201,
 33561354]

#### Make a list for Non-routine cognitive- Analytic

In [0]:
# Make a list for 10 years, use 'Mathematical Reasoning' in Abilities, Element id is 1.A.1.c.1
MATHlist=[]
for year in range(2007,2017):
  tempsum=0
  cutyear=df.loc[df['year']==year]
  for occcode in targetlist:
    cutocc=cutyear.loc[cutyear['occ_code']==occcode]
    employment=cutocc['tot_emp_num'].sum()
    temp1=Abilities.loc[Abilities['SOC Code']==occcode]  
    score_series=temp1.loc[temp1['Element ID']=='1.A.1.c.1']['Data Value']
    try:
      score=float(score_series)
    except:
      continue      
    weightedscore=int(employment*score)
    tempsum+=weightedscore
  MATHlist.append(tempsum)

In [0]:
MATHlist

[19912594,
 19665161,
 18041007,
 16346415,
 16223788,
 16444917,
 16858215,
 17496147,
 18181594,
 18739184]

#### Make a list for Non-routine Manual

In [0]:
# Make a list for 10 years, use 'Manual Dexterity' in Abilities, Element id is 1.A.2.a.2
Manulist=[]
for year in range(2007,2017):
  tempsum=0
  cutyear=df.loc[df['year']==year]
  for occcode in targetlist:
    cutocc=cutyear.loc[cutyear['occ_code']==occcode]
    employment=cutocc['tot_emp_num'].sum()
    temp1=Abilities.loc[Abilities['SOC Code']==occcode]  
    score_series=temp1.loc[temp1['Element ID']=='1.A.2.a.2']['Data Value']
    try:
      score=float(score_series)
    except:
      continue      
    weightedscore=int(employment*score)
    tempsum+=weightedscore
  Manulist.append(tempsum)

In [0]:
Manulist

[22312815,
 21779841,
 19673674,
 17771392,
 17570343,
 17866598,
 18349511,
 19184264,
 19971208,
 20634037]

#### Make a list for Routine Manual

In [0]:
# Make a list for 10 years, use 'Finger Dexterity' in Abilities, Element id is 1.A.2.a.3
FingDexlist=[]
for year in range(2007,2017):
  tempsum=0
  cutyear=df.loc[df['year']==year]
  for occcode in targetlist:
    cutocc=cutyear.loc[cutyear['occ_code']==occcode]
    employment=cutocc['tot_emp_num'].sum()
    temp1=Abilities.loc[Abilities['SOC Code']==occcode]  
    score_series=temp1.loc[temp1['Element ID']=='1.A.2.a.3']['Data Value']
    try:
      score=float(score_series)
    except:
      continue      
    weightedscore=int(employment*score)
    tempsum+=weightedscore
  FingDexlist.append(tempsum)

In [0]:
FingDexlist

[24584630,
 24114146,
 21950130,
 19897246,
 19706752,
 20027977,
 20523187,
 21382383,
 22214392,
 22923699]

#### Make a list for Routine Cognitive

In [0]:
# Make a list for 10 years, use 'Guiding, Directing and Motivating' in Work Activities, Element id is 4.A.4.b.4
GDMlist=[]
for year in range(2007,2017):
  tempsum=0
  cutyear=df.loc[df['year']==year]
  for occcode in targetlist:
    cutocc=cutyear.loc[cutyear['occ_code']==occcode]
    employment=cutocc['tot_emp_num'].sum()
    temp1=Activities.loc[Activities['occ_code']==occcode]  
    score_series=temp1.loc[temp1['Element ID']=='4.A.4.b.4']['Data Value']
    try:
      score=float(score_series)
    except:
      continue      
    weightedscore=int(employment*score)
    tempsum+=weightedscore
  GDMlist.append(tempsum)

#### Change GDM to 4.A.2.a.3 Evaluating Information to Determine Compliance with Standards for Routine Cognitive

In [0]:
# Make a list for 10 years, use 'Evaluating Information to Determine Compliance with Standards' in Work Activities, Element id is 4.A.2.a.3
EDClist=[]
for year in range(2007,2017):
  tempsum=0
  cutyear=df.loc[df['year']==year]
  for occcode in targetlist:
    cutocc=cutyear.loc[cutyear['occ_code']==occcode]
    employment=cutocc['tot_emp_num'].sum()
    temp1=Activities.loc[Activities['occ_code']==occcode]  
    score_series=temp1.loc[temp1['Element ID']=='4.A.2.a.3']['Data Value']
    try:
      score=float(score_series)
    except:
      continue      
    weightedscore=int(employment*score)
    tempsum+=weightedscore
  EDClist.append(tempsum)

In [43]:
EDClist

[26912723,
 26448298,
 24094036,
 21928552,
 21811592,
 22215036,
 22805286,
 23759921,
 24694770,
 25453051]

##Conduct 2*2 Autor analysis for Manufature

In [0]:
!wget "https://www.dropbox.com/s/mzly495b0ns41wi/oes_nat4d_2007-2016.csv?dl=0" -q -O "oes_nat4d_2007-2016.csv" 
allOLS=pd.read_csv("oes_nat4d_2007-2016.csv",low_memory=False)

In [0]:
allOLS

In [0]:
# make a series of Manufactureing 4-digit NAICS code
!wget "https://www.dropbox.com/s/sw4i9fj6lgnlq58/4digit_manu.csv?dl=0" -q -O "4digit_manu.csv" 
manu_naisc=pd.read_csv("4digit_manu.csv",low_memory=False)

In [0]:
# Filter out manufature OLS data,build the database called manudf
manudf=allOLS.loc[allOLS['naics'].isin(manu_naisc['naisc'])]

In [0]:
# Create occupation list for manufature, and exclude those occ_code end with 00
manu_occ=manudf['occ_code'].unique()
manu_occ_list=[]
for row in manu_occ:
  temp=str(row)
  if temp[5:]!='00':
    new=temp[:2]+temp[3:]
    new=int(new)
    manu_occ_list.append(new)
  else:
    continue

In [0]:
# There are 918 occupations in Manufaturinng, and their occ_code does not end with 00
manu_occ_list

In [0]:
manudf

In [51]:
# Transform manufacture occupation code to the right form
manudf['occ_code'] = manudf['occ_code'].map(lambda x: x.replace('-',''))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
manudf

####Non-routine Interactive-Negotiation

In [0]:
# Make a list for 10 years, use 'negotiation score'in Skills, Element id is 2.B.1.d
negotiationlist=[]
totalemployment=[]
for year in range(2007,2017):
  tempsum=0
  denom=0
  cutyear=manudf.loc[manudf['year']==year]
  for occcode in manu_occ_list:
    convertocc=str(occcode)
    cutocc=cutyear.loc[cutyear['occ_code']==convertocc]
    temp=pd.to_numeric(cutocc['tot_emp'], errors='coerce').fillna(0).astype(int)
    employment=temp.sum()
    denom+=employment
    temp1=Skills.loc[Skills['SOC Code']==occcode]  
    score_series=temp1.loc[temp1['Element ID']=='2.B.1.d']['Data Value']
    try:
      score=float(score_series)
    except:
      continue      
    weightedscore=int(employment*score)
    tempsum+=weightedscore
  negotiationlist.append(tempsum)
  totalemployment.append(denom)

In [10]:
negotiationlist

NameError: ignored

In [0]:
totalemployment

####Non routine- Cognitive

In [0]:
# Make a list for 10 years, use 'Mathematical Reasoning' in Abilities, Element id is 1.A.1.c.1
MATHlist=[]
totalemployment=[]
for year in range(2007,2017):
  tempsum=0
  denom=0
  cutyear=manudf.loc[manudf['year']==year]
  for occcode in manu_occ_list:
    convertocc=str(occcode)
    cutocc=cutyear.loc[cutyear['occ_code']==convertocc]
    temp=pd.to_numeric(cutocc['tot_emp'], errors='coerce').fillna(0).astype(int)
    employment=temp.sum()
    denom+=employment
    temp1=Abilities.loc[Abilities['SOC Code']==occcode]  
    score_series=temp1.loc[temp1['Element ID']=='1.A.1.c.1']['Data Value']
    try:
      score=float(score_series)
    except:
      continue      
    weightedscore=int(employment*score)
    tempsum+=weightedscore
  MATHlist.append(tempsum)
  totalemployment.append(denom)

In [103]:
MATHlist

[24895469,
 24197304,
 22450898,
 4196242,
 4228090,
 4353602,
 4407863,
 4423514,
 4409465,
 4369336]

In [0]:
totalemployment

#### Routine-manu

In [0]:
# Make a list for 10 years, use 'Finger Dexterity' in Abilities, Element id is 1.A.2.a.3

FingDexlist=[]
for year in range(2007,2017):
  tempsum=0
  denom=0
  cutyear=manudf.loc[manudf['year']==year]
  for occcode in manu_occ_list:
    convertocc=str(occcode)
    cutocc=cutyear.loc[cutyear['occ_code']==convertocc]
    temp=pd.to_numeric(cutocc['tot_emp'], errors='coerce').fillna(0).astype(int)
    employment=temp.sum()
    denom+=employment
    temp1=Abilities.loc[Abilities['SOC Code']==occcode]  
    score_series=temp1.loc[temp1['Element ID']=='1.A.2.a.3']['Data Value']
    try:
      score=float(score_series)
    except:
      continue      
    weightedscore=int(employment*score)
    tempsum+=weightedscore
  FingDexlist.append(tempsum)

In [105]:
FingDexlist

[32605177,
 31759841,
 29040601,
 4342780,
 4362194,
 4469341,
 4502345,
 4504191,
 4475162,
 4447947]

#### NonRoutine-manu

In [0]:
# Make a list for 10 years, use 'Manual Dexterity' in Abilities, Element id is 1.A.2.a.2
Manulist=[]
for year in range(2007,2017):
  tempsum=0
  denom=0
  cutyear=manudf.loc[manudf['year']==year]
  for occcode in manu_occ_list:
    convertocc=str(occcode)
    cutocc=cutyear.loc[cutyear['occ_code']==convertocc]
    temp=pd.to_numeric(cutocc['tot_emp'], errors='coerce').fillna(0).astype(int)
    employment=temp.sum()
    denom+=employment
    temp1=Abilities.loc[Abilities['SOC Code']==occcode]  
    score_series=temp1.loc[temp1['Element ID']=='1.A.2.a.2']['Data Value']
    try:
      score=float(score_series)
    except:
      continue      
    weightedscore=int(employment*score)
    tempsum+=weightedscore
  Manulist.append(tempsum)

In [107]:
Manulist

[29583455,
 28878985,
 26265325,
 3503432,
 3501768,
 3542388,
 3559342,
 3547666,
 3523351,
 3507404]

#### Routine Cognitive

In [0]:
# Make a list for 10 years, use 'Guiding, Directing and Motivating' in Work Activities, Element id is 4.A.4.b.4
GDMlist=[]
for year in range(2007,2017):
  tempsum=0
  denom=0
  cutyear=manudf.loc[manudf['year']==year]
  for occcode in manu_occ_list:
    convertocc=str(occcode)
    cutocc=cutyear.loc[cutyear['occ_code']==convertocc]
    temp=pd.to_numeric(cutocc['tot_emp'], errors='coerce').fillna(0).astype(int)
    employment=temp.sum()
    denom+=employment
    temp1=Activities.loc[Activities['occ_code']==occcode]  
    score_series=temp1.loc[temp1['Element ID']=='4.A.4.b.4']['Data Value']
    try:
      score=float(score_series)
    except:
      continue      
    weightedscore=int(employment*score)
    tempsum+=weightedscore
  GDMlist.append(tempsum)

In [110]:
GDMlist

[26407883,
 25687314,
 23709918,
 4045822,
 4086543,
 4260177,
 4300382,
 4339293,
 4329824,
 4272381]

## 2*2 Autor for Construction

In [0]:

import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as pp

#Download the CSV files that we need for Autor Method
!wget "https://www.dropbox.com/s/pnvz35bcthloy6n/Abilities.csv?dl=0" -q -O "Abilities.csv" 
Abilities=pd.read_csv("Abilities.csv",low_memory=False)
!wget "https://www.dropbox.com/s/5btim1otk24j05d/Skills.csv?dl=0" -q -O "Skills.csv" 
Skills=pd.read_csv("Skills.csv",low_memory=False)
!wget "https://www.dropbox.com/s/9ajd56nnhlrfo2m/Task%20Statements.csv?dl=0" -q -O "Task Statements.csv" 
Tasks = pd.read_csv("Task Statements.csv",low_memory=False)
!wget "https://www.dropbox.com/s/9ez75cfcojjpyur/Work%20Activities.csv?dl=0" -q -O "Work Activities.csv" 
Activities = pd.read_csv("Work Activities.csv",low_memory=False)
# Dataframe

!wget "https://www.dropbox.com/s/mzly495b0ns41wi/oes_nat4d_2007-2016.csv?dl=0" -q -O "oes_nat4d_2007-2016.csv" 
allOLS=pd.read_csv("oes_nat4d_2007-2016.csv",low_memory=False)

In [0]:
!wget "https://www.dropbox.com/s/mzly495b0ns41wi/oes_nat4d_2007-2016.csv?dl=0" -q -O "oes_nat4d_2007-2016.csv" 
df=pd.read_csv("oes_nat4d_2007-2016.csv",low_memory=False)

In [0]:


# make a series of Manufactureing 4-digit NAICS code


# Filter out manufature OLS data,build the database called manudf
df['naics'] = df['naics'].astype(str)
df=df.loc[df['naics'].str.startswith(('23'))]
list_naisc=df['naics']



# Create occupation list for manufature, and exclude those occ_code end with 00
industry_occ=df['occ_code'].unique()
industry_occ_list=[]
for row in industry_occ:
  temp=str(row)
  if temp[5:]!='00':
    new=temp[:2]+temp[3:]
    new=int(new)
    industry_occ_list.append(new)
  else:
    continue
# There are 918 occupations in Manufaturinng, and their occ_code does not end with 00
industry_occ_list
# Transform manufacture occupation code to the right form
df['occ_code'] = df['occ_code'].map(lambda x: x.replace('-',''))

In [0]:
df

In [0]:
industry_occ_list

In [0]:
# Make a list for 10 years, use 'negotiation score'in Skills, Element id is 2.B.1.d
negotiationlist=[]
totalemployment=[]
for year in range(2007,2017):
  tempsum=0
  denom=0
  cutyear=df.loc[df['year']==year]
  for occcode in industry_occ_list:
    convertocc=str(occcode)
    cutocc=cutyear.loc[cutyear['occ_code']==convertocc]
    temp=pd.to_numeric(cutocc['tot_emp'], errors='coerce').fillna(0).astype(int)
    employment=temp.sum()
    denom+=employment
    temp1=Skills.loc[Skills['SOC Code']==occcode]  
    score_series=temp1.loc[temp1['Element ID']=='2.B.1.d']['Data Value']
    try:
      score=float(score_series)
    except:
      continue      
    weightedscore=int(employment*score)
    tempsum+=weightedscore
  negotiationlist.append(tempsum)
  totalemployment.append(denom)
# Make a list for 10 years, use 'Mathematical Reasoning' in Abilities, Element id is 1.A.1.c.1
MATHlist=[]
for year in range(2007,2017):
  tempsum=0
  denom=0
  cutyear=df.loc[df['year']==year]
  for occcode in industry_occ_list:
    convertocc=str(occcode)
    cutocc=cutyear.loc[cutyear['occ_code']==convertocc]
    temp=pd.to_numeric(cutocc['tot_emp'], errors='coerce').fillna(0).astype(int)
    employment=temp.sum()
    denom+=employment
    temp1=Abilities.loc[Abilities['SOC Code']==occcode]  
    score_series=temp1.loc[temp1['Element ID']=='1.A.1.c.1']['Data Value']
    try:
      score=float(score_series)
    except:
      continue      
    weightedscore=int(employment*score)
    tempsum+=weightedscore
  MATHlist.append(tempsum)  
  
# Make a list for 10 years, use 'Finger Dexterity' in Abilities, Element id is 1.A.2.a.3

FingDexlist=[]
for year in range(2007,2017):
  tempsum=0
  denom=0
  cutyear=df.loc[df['year']==year]
  for occcode in industry_occ_list:
    convertocc=str(occcode)
    cutocc=cutyear.loc[cutyear['occ_code']==convertocc]
    temp=pd.to_numeric(cutocc['tot_emp'], errors='coerce').fillna(0).astype(int)
    employment=temp.sum()
    denom+=employment
    temp1=Abilities.loc[Abilities['SOC Code']==occcode]  
    score_series=temp1.loc[temp1['Element ID']=='1.A.2.a.3']['Data Value']
    try:
      score=float(score_series)
    except:
      continue      
    weightedscore=int(employment*score)
    tempsum+=weightedscore
  FingDexlist.append(tempsum)
  
# Make a list for 10 years, use 'Manual Dexterity' in Abilities, Element id is 1.A.2.a.2
Manulist=[]
for year in range(2007,2017):
  tempsum=0
  denom=0
  cutyear=df.loc[df['year']==year]
  for occcode in industry_occ_list:
    convertocc=str(occcode)
    cutocc=cutyear.loc[cutyear['occ_code']==convertocc]
    temp=pd.to_numeric(cutocc['tot_emp'], errors='coerce').fillna(0).astype(int)
    employment=temp.sum()
    denom+=employment
    temp1=Abilities.loc[Abilities['SOC Code']==occcode]  
    score_series=temp1.loc[temp1['Element ID']=='1.A.2.a.2']['Data Value']
    try:
      score=float(score_series)
    except:
      continue      
    weightedscore=int(employment*score)
    tempsum+=weightedscore
  Manulist.append(tempsum)
# Make a list for 10 years, use 'Guiding, Directing and Motivating' in Work Activities, Element id is 4.A.4.b.4
GDMlist=[]
for year in range(2007,2017):
  tempsum=0
  denom=0
  cutyear=df.loc[df['year']==year]
  for occcode in industry_occ_list:
    convertocc=str(occcode)
    cutocc=cutyear.loc[cutyear['occ_code']==convertocc]
    temp=pd.to_numeric(cutocc['tot_emp'], errors='coerce').fillna(0).astype(int)
    employment=temp.sum()
    denom+=employment
    temp1=Activities.loc[Activities['occ_code']==occcode]  
    score_series=temp1.loc[temp1['Element ID']=='4.A.4.b.4']['Data Value']
    try:
      score=float(score_series)
    except:
      continue      
    weightedscore=int(employment*score)
    tempsum+=weightedscore
  GDMlist.append(tempsum)

In [33]:
totalemployment

[7616450,
 7314590,
 6437390,
 242890,
 242430,
 452580,
 461920,
 455890,
 464360,
 477980]

In [164]:
# non-routine interactive
negotiationlist

[21272064,
 20978248,
 19167736,
 738965,
 764538,
 779717,
 760388,
 747050,
 761819,
 779367]

In [165]:
# non-routine analytic
MATHlist

[19127772,
 18862771,
 17241274,
 684231,
 704233,
 722086,
 704181,
 687504,
 704162,
 725600]

In [166]:
# non routine manu
FingDexlist

[23470378,
 22977819,
 20820998,
 708657,
 734296,
 753971,
 740623,
 725902,
 734455,
 752129]

In [167]:
# routine manu
Manulist

[21311658,
 20761268,
 18662369,
 560691,
 582656,
 593494,
 586562,
 573560,
 576754,
 582314]

In [168]:
# routine cognitive
GDMlist

[22103895,
 21684769,
 19622479,
 771695,
 767265,
 802164,
 778840,
 757418,
 779691,
 792494]

## Redo 2*2 for 13NAICS

In [0]:
df

In [0]:
df=result

In [0]:
# naisccode=[2361,	2362,	2372,	2381,	2382,	2383,	2389,	5311,	5312,	5313,	5413,	5414,	5617]
# naiscstr=[]
# for num in naisccode:
#   naiscstr.append(str(num))
# naiscstr

In [158]:
industry_occ=df['occ_code'].unique()
industry_occ

array(['00-0000', '11-0000', '11-1011', ..., '11-1030', '33-3030',
       '25-3097'], dtype=object)

In [0]:

# Filter out industry OLS data,build the database called df
df['naics'] = df['naics'].astype(str)
df=df.loc[df['naics'].str.startswith(('2361','2362','2372','2381','2382','2383','2389','5311','5312','5313','5413','5414','5617'))]
list_naisc=df['naics']



# Create occupation list for industry, and exclude those occ_code end with 00
industry_occ=df['occ_code'].unique()
industry_occ_list=[]
for row in industry_occ:
  temp=str(row)
  if temp and temp[5:]!='00':
    new=temp[:2]+temp[3:]
    try:
      new=int(new)
    except:
      continue
    industry_occ_list.append(new)
  else:
    continue
# There are 918 occupations in Manufaturinng, and their occ_code does not end with 00
industry_occ_list
# Transform manufacture occupation code to the right form
df['occ_code'] = df['occ_code'].astype(str)
df['occ_code'] = df['occ_code'].map(lambda x: x.replace('-',''))
df['year'] = df['year'].astype(int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [99]:
len(templist)

1180

In [0]:
df['year'].unique()

In [0]:
industry_occ_list

In [0]:
# Make a list for 10 years, use 'negotiation score'in Skills, Element id is 2.B.1.d
negotiationlist=[]
totalemployment=[]
for year in range(2007,2017):
  tempsum=0
  denom=0
  cutyear=df.loc[df['year']==year]
  for occcode in industry_occ_list:
    convertocc=str(occcode)
    cutocc=cutyear.loc[cutyear['occ_code']==convertocc]
    temp=pd.to_numeric(cutocc['tot_emp'], errors='coerce').fillna(0).astype(int)
    employment=temp.sum()
    denom+=employment
    temp1=Skills.loc[Skills['SOC Code']==occcode]  
    score_series=temp1.loc[temp1['Element ID']=='2.B.1.d']['Data Value']
    try:
      score=float(score_series)
    except:
      continue      
    weightedscore=int(employment*score)
    tempsum+=weightedscore
  negotiationlist.append(tempsum)
  totalemployment.append(denom)
# Make a list for 10 years, use 'Mathematical Reasoning' in Abilities, Element id is 1.A.1.c.1
MATHlist=[]
for year in range(2007,2017):
  tempsum=0
  denom=0
  cutyear=df.loc[df['year']==year]
  for occcode in industry_occ_list:
    convertocc=str(occcode)
    cutocc=cutyear.loc[cutyear['occ_code']==convertocc]
    temp=pd.to_numeric(cutocc['tot_emp'], errors='coerce').fillna(0).astype(int)
    employment=temp.sum()
    denom+=employment
    temp1=Abilities.loc[Abilities['SOC Code']==occcode]  
    score_series=temp1.loc[temp1['Element ID']=='1.A.1.c.1']['Data Value']
    try:
      score=float(score_series)
    except:
      continue      
    weightedscore=int(employment*score)
    tempsum+=weightedscore
  MATHlist.append(tempsum)  
  
# Make a list for 10 years, use 'Finger Dexterity' in Abilities, Element id is 1.A.2.a.3

FingDexlist=[]
for year in range(2007,2017):
  tempsum=0
  denom=0
  cutyear=df.loc[df['year']==year]
  for occcode in industry_occ_list:
    convertocc=str(occcode)
    cutocc=cutyear.loc[cutyear['occ_code']==convertocc]
    temp=pd.to_numeric(cutocc['tot_emp'], errors='coerce').fillna(0).astype(int)
    employment=temp.sum()
    denom+=employment
    temp1=Abilities.loc[Abilities['SOC Code']==occcode]  
    score_series=temp1.loc[temp1['Element ID']=='1.A.2.a.3']['Data Value']
    try:
      score=float(score_series)
    except:
      continue      
    weightedscore=int(employment*score)
    tempsum+=weightedscore
  FingDexlist.append(tempsum)
  
# Make a list for 10 years, use 'Manual Dexterity' in Abilities, Element id is 1.A.2.a.2
Manulist=[]
for year in range(2007,2017):
  tempsum=0
  denom=0
  cutyear=df.loc[df['year']==year]
  for occcode in industry_occ_list:
    convertocc=str(occcode)
    cutocc=cutyear.loc[cutyear['occ_code']==convertocc]
    temp=pd.to_numeric(cutocc['tot_emp'], errors='coerce').fillna(0).astype(int)
    employment=temp.sum()
    denom+=employment
    temp1=Abilities.loc[Abilities['SOC Code']==occcode]  
    score_series=temp1.loc[temp1['Element ID']=='1.A.2.a.2']['Data Value']
    try:
      score=float(score_series)
    except:
      continue      
    weightedscore=int(employment*score)
    tempsum+=weightedscore
  Manulist.append(tempsum)
# Make a list for 10 years, use 'Guiding, Directing and Motivating' in Work Activities, Element id is 4.A.4.b.4
GDMlist=[]
for year in range(2007,2017):
  tempsum=0
  denom=0
  cutyear=df.loc[df['year']==year]
  for occcode in industry_occ_list:
    convertocc=str(occcode)
    cutocc=cutyear.loc[cutyear['occ_code']==convertocc]
    temp=pd.to_numeric(cutocc['tot_emp'], errors='coerce').fillna(0).astype(int)
    employment=temp.sum()
    denom+=employment
    temp1=Activities.loc[Activities['occ_code']==occcode]  
    score_series=temp1.loc[temp1['Element ID']=='4.A.4.b.4']['Data Value']
    try:
      score=float(score_series)
    except:
      continue      
    weightedscore=int(employment*score)
    tempsum+=weightedscore
  GDMlist.append(tempsum)

In [163]:
totalemployment

[11569800,
 11343030,
 10296880,
 371030,
 374010,
 673310,
 667110,
 648710,
 659590,
 676850]