[View in Colaboratory](https://colab.research.google.com/github/mitreilab/autonomousfuture/blob/master/reilAutomation.ipynb)

## Import OES Data

In [0]:
import pandas
oes = pandas.read_csv("https://raw.githubusercontent.com/mitreilab/autonomousfuture/master/oes/realestate_oes_nat4d_2007-2016.csv", low_memory = False)

## Import ONet Data ##

In [8]:
!wget "https://github.com/mitreilab/autonomousfuture/blob/master/onet/onet.sqlite?raw=true" -q -O "onet.sqlite"  #Download raw SQLite file from Github Repo and rename to "onet.sqlite"

import sqlite3
onetConnection = sqlite3.connect('onet.sqlite')
cur = onetConnection.cursor()
query = "SELECT * FROM occupation_data";
occdata = pandas.read_sql_query(query, onetConnection)

len(occdata)

Redirecting output to ‘wget-log.6’.

1109